canvas {
  position: fixed;
  z-index: -1;
}

.toolbar {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  background: rgba(0, 27, 90, 0.85);
  color: white;
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  label {
    margin-bottom: 5px;
  }
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.radio-group {
  display: flex;
  align-items: center;
}

button {
  border: none;
  background: #000;
  color: white;
  margin: 10px 10px;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;

  &.green {
   background: #009830;
   &:hover {
      background: #026b23;
   }
  }

  &.red {
    background: #ad0505;
    &:hover {
      background: #820000;
    }
  }

}